*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
     background-color: yellow;
     border: 1px solid black;
     height: 700px;
     width: 504px;
     display: grid;
     grid-template-rows: 30px 1fr 30px;
     grid-template-columns: 100px 400px;
    
     grid-gap: 4px;

     grid-template-areas: 
     "hd hd"
     "sd main" 
     "ft ft" ;

}
.box{
    border: 1px solid red;
    background-color: aqua;
}

#header{
    grid-area: hd;
}
#sidebar{
    grid-area: sd;
}

#content{
    grid-area: main;
}
 
#footer{
    grid-area: ft;
}

@media(max-width:350px)
{
    .container{
        grid-template-columns:1fr;
        grid-template-rows:30px 1fr 1fr 30px;

        grid-gap: 1px;

        grid-template-areas: 
        "hd"
        "sd "
        "main"
        "ft";
    }
    
}